av
chex
colored_traceback
einops
elements>=3.19.1
granular>=0.20.3
ipdb
jax[cuda12]==0.4.33
jaxtyping
ninjax>=3.5.1
numpy<2
nvidia-cuda-nvcc-cu12<=12.2
optax
portal>=3.5.0
scope>=0.4.4
tqdm
gymnasium
minigrid
lpips
tables